<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>All categories</h1>
{% for c in categories %}

<div>

<a href="{{url_for('showCategoryItems', category_id = c.id)}}">{{c.name}}</a></br>


</div>


{% endfor %}

<br/>
<a href="{{url_for('addCategory')}}">Add catalog category!</a>

<br/>
<br/>
{% if 'username' not in session %}
	<a href="{{url_for('showLogin')}}">Login</a>
{% else %}
	<a href="{{url_for('gdisconnect')}}">Logout</a>
{% endif %}

</body>

</html>